xmlschemas/bok23m-90prime.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="fitsHeader">
      <attribute name="instrument">
        <value>bok23m-90prime</value>
      </attribute>
      <interleave>
        <element name="SIMPLE">
          <value>True</value>
        </element>
        <element name="IMAGETYP">
          <value>object</value>
        </element>

        <optional>
          <element name="DATE">
            <data type="NMTOKEN"/>
          </element>
        </optional>
        <element name="DATE-OBS">
          <data type="date"/>
        </element>
        <element name="TIME-OBS">
          <data type="time"/>
        </element>
      </interleave>
    </element>
  </start>
</grammar>
