xmlschemas/kp09m-hdi.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT fitsHeader (SIMPLE,DATE,OBSTYPE,DATE-OBS)>
<!ATTLIST fitsHeader
  xmlns CDATA #FIXED ''
  instrument NMTOKEN #REQUIRED>

<!ELEMENT SIMPLE (#PCDATA)>
<!ATTLIST SIMPLE
  xmlns CDATA #FIXED ''>

<!ELEMENT DATE (#PCDATA)>
<!ATTLIST DATE
  xmlns CDATA #FIXED ''>

<!ELEMENT OBSTYPE (#PCDATA)>
<!ATTLIST OBSTYPE
  xmlns CDATA #FIXED ''>

<!ELEMENT DATE-OBS (#PCDATA)>
<!ATTLIST DATE-OBS
  xmlns CDATA #FIXED ''>
