xmlschemas/soar-osiris.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="fitsHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SIMPLE"/>
      </xs:sequence>
      <xs:attribute name="instrument" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SIMPLE" type="xs:NCName"/>
</xs:schema>
